@import 'modern-normalize/modern-normalize.css';
@import url('./font/font.css');

:root {
  /* text colors */
  --color-text-primary: #262626;
  --color-text-secondary: rgba(38, 38, 38, 0.5);
  --color-text-inverted: #fff;
  --color-text-inverted-muted: rgba(255, 255, 255, 0.4);
  --color-text-accent: #f6b83d;

  /* background-colors */
  --color-bg-primary: #f9f9f9;
  --color-bg-secondary: #fff;
  --color-bg-accent: #f6b83d;
  --color-bg-accent-hover: #f9b020;
  --color-bg-muted: #fff4df;
  --color-bg-muted-hover: #fbe7c1;

  /* other colors */
  --color-input-border: rgba(38, 38, 38, 0.15);
  --color-danger: #ef2447;
  --color-success: #08aa83;
  --color-female: #f43f5e;
  --color-female-bg: rgba(244, 63, 94, 0.1);
  --color-male: #54adff;
  --color-male-bg: rgba(84, 173, 255, 0.1);
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}